:root {
    --black: #131313;
    --dark: #727272;
    --gray: #919191;
    --light-gray: #ebebeb;
    --hot-pink: #ff214f;
    --orange: #FF900E;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
/* default font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,400&family=Roboto:ital@1&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* header and banner styles here */
.container{
    background-color:rgba(255, 144, 14, 0.1);
    
}
/* header area */
.header, .banner, .main{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;  
   
}
.header-title{
    color: var(--black);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
   
}
nav ul{
    list-style: none;  
    display: flex;  
    gap: 30px;    
}
li{
    font-size: 0.8em;
}
.banner{
    text-align: center;
}
.banner-title{
    font-size: 4em;
    color: var(--black);
}
.description{  
    color: var(--dark);
    font-size: 0.8em;
    margin: 20px 0px;
}
.explore-button{
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}
.banner img{
    width: 100%;
    padding: 30px 0px;
}
/* feature section styles */
.features{
    display: flex;   
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    gap: 60px;
}
.feature-thumbnails{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.feature-thumbnails img{
    width: 100%;
   
}

.semi-dark-text{
    color: var(--dark);
    font-size: 2em;
}
.dark-text{
    color: #131313;
}
.feature-text{
    color: var(--orange);
}
/* @media screen and (max-width: 576px) {
    .features{
        flex-direction: column-reverse;
    }
    .feature-thumbnails{
        grid-template-columns: repeat(1, 1fr);
    }
} */

